{% extends 'base.html' %}

{% block content %}
<link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-6">
            <div class="title-content my-4">
                <h1 class="text-center">Donate</h1>
                <p>
                    Wriitr is completely free to use. If you like using Wriitr and would like to make a donation 
                    to help us keep the site free, you can do so below. Your donation will go a long way in helping 
                    us maintain and grow the site.
                </p>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<style>
    body {
        background: whitesmoke;
    }
    .title-content {
        background-color: white;
        padding: 15px 30px 10px 30px;
        border-radius: 10px;
        border: 1px solid lightgray
    }


</style>
{% endblock content %}