{% extends 'base.html' %}


{% block content %}
<link rel='stylesheet' href="{{ url_for('project.static', filename='style.css') }}">

<!-- Load c3.css -->
<link href="{{ url_for('project.static', filename='c3/c3.css') }}" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('project.static', filename='c3/c3.min.js') }}"></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('project.dashboard') }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a
                href="{{ url_for('project.project_dashboard', proj_id=project.id) }}">{{ project.title }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('project.draft_editor', proj_id=project.id, version=1) }}">Draft
                Editor</a></li>
        <li class="breadcrumb-item active" aria-current='page'>Statistics</li>
    </ol>
</nav>

<div class='container mt-5'>
    <div class='row'>
        <div class='col-sm'></div>
        <div class='col-sm-6'>
            <div class="title-content mb-5">

                <h2 class='text-center'>{{project.title}}: Statistics</h2>
                <hr>

                <h3>Statistics</h3>
                <table class="table">
                    <tbody>
                        {% for key, value in data.items() %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Distribution of Sentence Length</h3>

                <div id="sentence-dist"></div>
                <h3>Distribution of Word Length</h3>
                <div id="word-dist"></div>
                <h3>Most Common Significant Words</h3>
                <div id="word-bar"></div>
                <table class="table">
                    <thead>
                        <th scope="col">Word</th>
                        <th scope="col">Count</th>
                    </thead>
                    <tbody>
                        {% for word, count in common_words %}
                        <tr>
                            <td>{{word}}</td>
                            <td>{{count}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class='col-sm'></div>
    </div>
</div>
<script type='text/javascript'>
    var sent_hist = JSON.parse({{ sent_hist| tojson}})
    var sent_bins = JSON.parse({{ sent_bins| tojson}})

    var word_hist = JSON.parse({{ word_hist| tojson}})
    var word_bins = JSON.parse({{ word_bins| tojson}})

    var bar_labels = JSON.parse({{ common_word_labels| tojson}})
    var bar_counts = JSON.parse({{ common_word_counts| tojson}})

    var chart = c3.generate({
        bindto: '#sentence-dist',
        data: {
            columns: [
                sent_hist
            ],
            types: {
                Frequency: 'area-spline'
            },
            colors: {
                Frequency: '#06b276'
            }

        },
        axis: {
            x: {
                type: 'category',
                categories: sent_bins,
                label: {
                    text: 'Sentence Length (Words)',
                    position: 'outer-center'
                }
            },
            y: {
                label: {
                    text: 'Frequency',
                    position: 'outer-middle'
                }
            }
        },
        legend: {
            hide: true
            //or hide: 'data1'
            //or hide: ['data1', 'data2']
        }
    });
    var chart_word = c3.generate({
        bindto: '#word-dist',
        data: {
            columns: [
                word_hist
            ],
            types: {
                Frequency: 'area-spline'
            },
            colors: {
                Frequency: '#06b276'
            }

        },
        axis: {
            x: {
                type: 'category',
                categories: word_bins,
                label: {
                    text: 'Word Length (Characters)',
                    position: 'outer-center'
                }
            },
            y: {
                label: {
                    text: 'Frequency (Logarithmic Scale)',
                    position: 'outer-middle'
                },
                type: 'log',
                tick: {
                    format: d3.format("1.0f")
                }
            }
        },
        legend: {
            hide: true
            //or hide: 'data1'
            //or hide: ['data1', 'data2']
        }
    });
    var chart2 = c3.generate({
        bindto: '#word-bar',
        data: {
            columns: [
                bar_counts,
            ],
            type: 'bar',
            colors: {
                Count: 'rgba(6, 178, 118, 0.5)'
            }
        },
        bar: {
            width: {
                ratio: .5 // this makes bar width 50% of length between ticks
            }
            // or
            //width: 100 // this makes bar width 100px
        },
        axis: {
            x: {
                type: 'category',
                categories: bar_labels,
                label: {
                    text: 'Word',
                    position: 'outer-middle'
                }
            },
            y: {
                label: {
                    text: 'Count',
                    position: 'outer-center'
                }
            },
            rotated: true
        },
        legend: {
            hide: true
            //or hide: 'data1'
            //or hide: ['data1', 'data2']
        }
    });

</script>
{% endblock content %}