{% extends 'base.html' %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current='page'>Dashboard</li>
  </ol>
</nav>
<div class='container mt-5'>
  
  <div class='row'>
      <div class='col-sm'></div>
      <div class='col-sm-8'>
          <h1 class='heading'>{{ current_user.first_name }}'s Projects</h1>
          <hr>
          <ul>
              {% for project in projects %}
              <div class="card">
                  <div class="card-header">
                    Stage {{ project.stage }}/4
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                  
                    <a href="{{ url_for('project.project_dashboard', proj_id=project.id) }}" class='btn btn-outline-primary'>Open Project</a>
                      
                    <a class='btn btn-outline-danger' href="{{ url_for('project.delete', id=project.id, type='project') }}">Delete Project</a>
                      
                  </div>
                </div><br>
              {% endfor %}
              <div class="card">
                  <div class="card-header">
                    
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Start a New Project</h5>
                    <a href="{{ url_for('project.new_project') }}" class='btn btn-outline-success'>New Project</a>
                  </div>
                </div><br>
          </ul>
  
      </div>
      <div class='col-sm'></div>
  </div>
</div>

{% endblock content %}