{% extends 'base.html' %}

{% block content %}
<link rel='stylesheet' href="{{ url_for('project.static', filename='style.css') }}">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('project.dashboard') }}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('project.project_dashboard', proj_id=project.id) }}">{{ project.title }}</a></li>
    <li class="breadcrumb-item active" aria-current='page'>Draft Editor</li>
  </ol>
</nav>
<div class='container mt-5'>
    <div class='row'>
        <div class='col-sm'> 
        </div>
        <div class='col-sm-8'>  
          <h1 class='heading'>{{ project.title }}: Draft Editor </h1>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ url_for('project.draft_viewer', proj_id=project.id) }}">Printable Version</a>
              <a class="dropdown-item" href="{{ url_for('project.analyzer', proj_id=project.id) }}">Analyzer</a>
            </div>
          </div>
          <hr>
          {% for section in sections %}
            <h4>Section {{section.order}}</h4>
            <p>{{ section.text|safe }}</p>
            {% if section.text == '' %}<p>You haven't written anything in this section yet.</p>{% endif %}
            <div class="dropdown">
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Edit Section
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('project.section_text_editor', proj_id=project.id, section_id=section.id) }}">Full Text Editor</a>
                <a class="dropdown-item" href="{{ url_for('project.line_editor', proj_id=project.id, section_id=section.id) }}">Line Editor</a>
                <a class="dropdown-item" href="#">Delete Section</a>
              </div>
          </div><br>
          {% endfor %}
          
        </div>
        <div class='col-sm'></div>
    </div>
</div>  
{% endblock %}