{% extends 'base.html' %}

{% block content %}
<link rel='stylesheet' href="{{ url_for('project.static', filename='style.css') }}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('project.dashboard') }}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('project.project_dashboard', proj_id=project.id) }}">{{ project.title }}</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('project.draft_editor', proj_id=project.id, version=1) }}">Draft Editor</a></li>
      <li class="breadcrumb-item active" aria-current='page'>Draft Viewer</li>
    </ol>
  </nav>
<div class='container mt-5'>
    <div class='row'>
        <div class='col-sm'> 
        </div>
        <div class='col-sm-8'>  
          <h1 class='heading'>{{ project.title }}</h1>
          {% for section in sections %}
            <p>{{ section.text|safe }}</p>
          {% endfor %}
        </div>
        <div class='col-sm'></div>
    </div>
</div>  
{% endblock %}