{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('project.dashboard') }}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('project.project_dashboard', proj_id=project.id) }}">{{ project.title }}</a></li>
      <li class="breadcrumb-item active" aria-current='page'>First Draft</li>
    </ol>
</nav>
<div class='container mt-5'>
    <h1 class='heading text-center'>{{ project.title }}: First Draft</h1>
            <hr>
    <div class='row'>
        <div class='col-sm'>
            <h6>Section Navigator</h6>
            <div id="0" class='section-nav section-nav-0'>Directions</div>
            {% for key, value in record.items() %}
                <div id="{{key}}" class='section-nav section-nav-{{key}}'>{{ value }}</div>
            {% endfor %}<br>
            <button class='btn btn-light' data-toggle="modal" data-target="#exampleModal">Show Outline</button>               
        </div>
        <div class='col-sm-8'>
            <div class="page page-0">
                <h4>Directions</h4>
                <p>
                    In this section, you will write your first draft. Use the navigator to switch between your sections.
                    You can access your outline by clicking the "Show Outline" button below the navigator.
                </p>
                <p>
                    While writing your first draft, don't worry too much about grammar or making your writing sound good.
                    You can work on that during the editing phase. 
                </p>
            </div>
          
            <form action='' method='POST'>
                {{ form.hidden_tag() }}
                
                {% for key, value in record.items() %}
                    <div class='form-group page page-{{key}}'>
                        <p class='lead'>{{ value }}</p>
                        <textarea name="{{ key }}" class="editor">{{ sections.filter_by(order=key).first().text }}</textarea>
                    </div>
                {% endfor %}
                {{form.submit(class='btn btn-primary')}}
            </form> 
        </div>
        <div class='col-sm'></div>
    </div>
</div>
<div style='height:50px'></div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your Work</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Thesis</h6>
                {{ project.thesis|safe }}
                {% if project.outline=='' %}<p>You haven't written anything here yet</p>{% endif %}
                <hr>
                <h6>Outline</h6>
                {{ project.outline|safe }}
                {% if project.outline=='' %}<p>You haven't written anything here yet</p>{% endif %}
                <hr>
                <h6>Question</h6>
                {{ project.question|safe }}
                {% if project.outline=='' %}<p>You haven't written anything here yet</p>{% endif %}
                <hr>
                <h6>Freewrite</h6>
                {{ project.freewrite|safe }}
                {% if project.outline=='' %}<p>You haven't written anything here yet</p>{% endif %}
                <hr>
                <h6>Sources</h6>
                {{ project.sources|safe }}
                {% if project.outline=='' %}<p>You haven't written anything here yet</p>{% endif %}
                <hr>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	//var current_page = 0
	$( '.page' ).hide();
	$( '.page-0' ).show();
    $( '.section-nav-0' ).css({"color":"#0275d8","text-decoration":"underline"})

    $('form input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });

    $( '.section-nav ').click(function() {
		new_section = $( this ).attr('id');
		$( '.page' ).hide();
		$( '.page-'+new_section ).show();
        $( '.section-nav' ).css({"color":"black","text-decoration":"none"})
        $( '.section-nav-'+new_section ).css({"color":"#0275d8","text-decoration":"underline"})

	});

</script>
{% endblock %}