{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('project.dashboard') }}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('project.project_dashboard', proj_id=project.id) }}">{{ project.title }}</a></li>
      <li class="breadcrumb-item active" aria-current='page'>Outline</li>
    </ol>
</nav>
<div class='container mt-5'>
    <h1 class='heading text-center'>{{ project.title }}: Outline</h1>
            <hr>
    <div class='row'>
        <div class='col-sm'>
            
            
  
            <h6>Section Navigator</h6>
            <ul>
                {% for key, value in record.items() %}
                    <li><a href='' id="{{key}}" onclick="return false;" class='section-nav'>{{ value }}</a></li>
                {% endfor %}
            </ul>

            <button class='btn btn-light' data-toggle="modal" data-target="#exampleModal">Show Work</button>
                
        </div>
        <div class='col-sm-8'>
            
            <h4>Directions</h4>
            <p>For each outline section, ...</p>
            
            <form action='' method='POST'>
                {{ form.hidden_tag() }}
                {% for key, value in record.items() %}
                    <div class='form-group page page-{{key}}'>
                        <p class='lead'>{{ value }}</p>
                        <textarea name="{{ key }}" class="editor">{{ sections.filter_by(order=key).first().text }}</textarea>
                    </div>
                {% endfor %}
            
                {{form.submit(class='btn btn-primary')}}
            </form> 
        </div>
        <div class='col-sm'></div>
    </div>
</div>
<div style='height:50px'></div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your Work</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Sources</h6>
                {{ project.sources }}
                <hr>
                <h6>Freewrite</h6>
                {{ project.freewrite }}
                <hr>
                <h6>Question</h6>
                {{ project.question }}
                <hr>
                <h6>Thesis</h6>
                {{ project.thesis }}
                <hr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	var current_page = 1
	$( '.page' ).hide();
	$( '.page-1' ).show();

    $('form input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });

    $( '.section-nav ').click(function() {
		new_section = $( this ).attr('id');
		$( '.page' ).hide();
		$( '.page-'+new_section ).show();
	});

</script>
{% endblock %}