{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('project.dashboard') }}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current='page'>{{ project.title }}</li>
    </ol>
  </nav>
<div class='container mt-5'>
    <div class='row'>
        <div class='col-sm'></div>
        <div class='col-sm-8'>
            <h1 class='heading'>{{ project.title }}: Project Dashboard</h1>
            <hr>
            <ul class="list-group">
                <li class="list-group-item"><a href='{{ url_for("project.brainstorm", proj_id=project.id) }}'>Brainstorm</a></li>
                <li class="list-group-item"><a href='{{ url_for("project.set_sections", proj_id=project.id) }}'>Set Thesis and Sections</a></li>
                <li class="list-group-item"><a href='{{ url_for("project.outline_editor", proj_id=project.id) }}'>Outline</a></li>
                <li class="list-group-item"><a href=''>First Draft</a></li>
                <li class="list-group-item"><a href=''>Draft Editor</a></li>
              </ul>
            
    
        </div>
        <div class='col-sm'></div>
    </div>
</div>
{% endblock %}