{% extends 'project/project_base.html' %}
{% block content %}
<link rel='stylesheet' href="{{ url_for('project.static', filename='style.css') }}">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('project.dashboard') }}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current='page'>{{ project.title }}</li>
  </ol>
</nav>
<div class='container mt-5'>
  <div class='row'>
    <div class='col-sm'>
    </div>
    <div class='col-sm-8'>
      <div class='title-content'>
        <h2 class='heading'>{{ project.title }}: Project Dashboard</h2>
        <div class="dropdown ddown">
          <button class="btn btn-sm mb-2 btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('project.rename_project', proj_id=project.id) }}">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="icon bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              Rename
            </a>
            <a class="dropdown-item" href="{{ url_for('project.delete', id=project.id, type='project') }}">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="icon bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
              Delete
            </a>
          </div>
        </div>
      </div>
      <hr>
      <div class="card card-border stage" id='step3'>
        <div class="card-body">
          <h4 class="card-title">Step 3: Draft Editor</h4>
          <p class="card-text">Revise your draft using draft editor tools.</p>
          <a href="{{ url_for('project.draft_editor', proj_id=project.id) }}" class="btn btn-primary">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="icon bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            Edit Draft
          </a>
        </div>
      </div>
      <div class="card card-border stage" id='step2'>
        <div class="card-body">
          <h4 class="card-title">Step 2: First Draft</h4>
          <p class="card-text">
            Write your project's first draft, developing the ideas in your outline.
          </p>
          <a href="{{ url_for('project.first_draft', proj_id=project.id) }}" class="btn btn-primary">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="icon bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            Edit First Draft
          </a>
          {% if project.stage == '2' %}
          <a href="{{ url_for('project.progress', proj_id=project.id) }}" class='im-done btn btn-sm btn-outline-success'>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="icon bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg>
            Mark as Complete
          </a>
          {% endif %}
        </div>
      </div>
      <div class="card card-border stage" id='step1'>
        <div class="card-body">
          <h4 class="card-title">Step 1: Outline</h4>
          <p class="card-text">
            Build an outline for your project from the ground up, and lay the foundation for
            your first draft.
          </p>
          <a href="{{ url_for('project.outline', proj_id=project.id) }}" class="btn btn-primary">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="icon bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            Edit Outline
          </a>
          {% if project.stage == '1' and project.num_sections > 0 %}
          <a href="{{ url_for('project.progress', proj_id=project.id) }}" class='im-done btn btn-sm btn-outline-success'>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="icon bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
            </svg>
            Mark as Complete
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class='col-sm'></div>
  </div>
</div>
<!-- Footer -->


<script type='text/javascript'>
  var stage = {{ project.stage }};
  $('.stage').hide();
  for (var i = 1; i <= stage; i++) {
    $('#step' + i).show();
  }
  $('#step' + stage).addClass('selected');
</script>

{% endblock %}