{% extends 'project/project_base.html' %}
{% block content %}
<link rel='stylesheet' href="{{ url_for('project.static', filename='style.css') }}">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('project.dashboard') }}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current='page'>{{ project.title }}</li>
  </ol>
</nav>
<div class='container mt-5'>
    <div class='row'>
        <div class='col-sm'> 
        </div>
        <div class='col-sm-8'>
          <div class='title-content'>
            <h2 class='heading'>{{ project.title }}: Project Dashboard</h2>
            <div class="dropdown ddown">
                <button class="btn btn-sm mb-2 btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{{ url_for('project.rename_project', proj_id=project.id) }}">Rename</a>
                  <a class="dropdown-item" href="{{ url_for('project.delete', id=project.id, type='project') }}">Delete</a>
                </div>
            </div>
          </div>
          <hr>
          <div class="card card-border stage" id='step3'>
            <div class="card-body">
              <h5 class="card-title">Step 3: Draft Editor</h5>
              <p class="card-text">Revise your first draft and create </p>
              <a href="{{ url_for('project.draft_editor', proj_id=project.id) }}" class="btn btn-primary">Edit Draft &raquo</a>
            </div>
          </div>
          <div class="card card-border stage" id='step2'>
            <div class="card-body">
              <h5 class="card-title">Step 2: First Draft</h5>
              <p class="card-text">
                Write your project's first draft, developing the ideas in your outline.
              </p>
              <a href="{{ url_for('project.first_draft', proj_id=project.id) }}" class="btn btn-primary">Edit First Draft &raquo</a>
              {% if project.stage == '2' %}<a href="{{ url_for('project.progress', proj_id=project.id) }}" class='im-done btn btn-sm btn-outline-success'>Mark as Complete &raquo</a>{% endif %}
            </div>
          </div>
          <div class="card card-border stage" id='step1'>
            <div class="card-body">
              <h5 class="card-title">Step 1: Outline</h5>
              <p class="card-text">
                Build an outline for your project from the ground up, and lay the foundation for 
                your first draft.
              </p>
              <a href="{{ url_for('project.outline', proj_id=project.id) }}" class="btn btn-primary">Edit Outline &raquo</a>
              {% if project.stage == '1' and project.num_sections > 0 %}<a href="{{ url_for('project.progress', proj_id=project.id) }}" class='im-done btn btn-sm btn-outline-success'>Mark as Complete &raquo</a>{% endif %}
            </div>
          </div>
        </div>
        <div class='col-sm'></div>
    </div>
</div>
<!-- Footer -->


<script type='text/javascript'>
  var stage = {{ project.stage }};
  $( '.stage' ).hide();
  for (var i=1 ; i<=stage ; i++ ) {
    $( '#step'+i ).show();
  }
  $( '#step'+stage ).addClass('selected');
</script>

{% endblock %}

