{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('project.dashboard') }}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('project.project_dashboard', proj_id=project.id) }}">{{ project.title }}</a></li>
      <li class="breadcrumb-item active" aria-current='page'>Set Sections</li>
    </ol>
</nav>
<div class='container mt-5'>
    <div class='row'>
        <div class='col-sm'>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                View Brainstorm
            </button>
        </div>
        <div class='col-sm-8'>
            <h1 class='heading'>{{ project.title }}: Thesis and Sections</h1>
            
            <hr>
            <form action='' method='POST'>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <h4>Instructions</h4>
                    <p>
                        In the previous section, you said that the main question that you want to answer
                        with your project is: <strong>{{project.question}}</strong>. Now, come up with an answer to this
                        question. You can think of the answer as your thesis. It is the main argument or point of your paper. 
                        Write it in the box below.
                    </p>
                    <textarea name='thesis' class='form-control'>{{ project.thesis }}</textarea><br>
                    <p>
                        Now, decide how many sections you will need to answer this question. 
                        Sections may be single paragraphs or groups of paragraphs,
                        but each section should prove a single point or explore a single idea. All of your sections
                        put together should lead the reader to your overall answer. Optional: use the box below
                        to plan out your sections (note: this will not be saved).
                    </p>
                    <textarea class='form-control'></textarea><br>
                    
                    <p>Current Number of Sections: {{project.num_sections}}</p>
                    <p id='counter'>New Number of Sections: </p>
                    <p>Note: if you decrease the amount of sections from the current number, 
                        all of the excess sections will be deleted and your work will be lost.
                    </p>
                    <input type="range" name="num_sections" class="form-control-range" id="formControlRange" min="1" max="10" value={{project.num_sections}}><br>
                    {{ form.submit(class='btn btn-outline-primary')}}
                  </div>
            </form>
        </div>
        <div class='col-sm'></div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your Work</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Sources</h6>
                {{ project.sources }}
                <hr>
                <h6>Freewrite</h6>
                {{ project.freewrite }}
                <hr>
                <h6>Question</h6>
                {{ project.question }}
                <hr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    $("input").change(function(){
        $( '#counter' ).text('New Number of Sections: ' + this.value)
}); 
</script>
{% endblock %}
