.project-container {
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.right {
    text-align: right;
}

.project-title {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}
.button-container {
    float: right;
    margin-top: 1px;
}

.selected {
    border-color: #007bff;
    border-style: solid;
    border-width: 1px;
}

.card-border {
    
    margin-bottom: 30px;
    border-radius: 10px;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.im-done {
    float: right;
}

body {
    background: whitesmoke;
}

.title-content {
    background-color: white;
    padding: 15px 30px 10px 30px;
    border-radius: 10px;
    border: 1px solid lightgray
}